# Python
__pycache__/
*.py[cod]
*$py.class

# Models & artifacts (these WILL bloat your repo)
*.pth
*.pt
*.joblib
*.pkl

# Logs & temp
*.log
*.tmp
*.cache

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Report Generating Aid
.obsidian/*